.navbar .container-fluid {
  width: 70%;
  padding: 15px 0px;
}
.navbar .container-fluid .container-text-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.navbar .container-fluid .container-text-1 h5 {
  margin: 0;
}
.navbar .container-fluid .container-text-1 p {
  margin: 0;
}
.navbar .navbar-collapse {
  gap: 30px;
}
.navbar .navbar-collapse .container-text-2 {
  text-align: end;
}
.navbar .navbar-collapse .container-text-2 h5 {
  margin: 0;
}
.navbar .navbar-collapse .container-text-2 p {
  margin: 0;
}
.navbar button {
  background-color: var(--main-color);
  border: 1px solid var(--border-color);
  border-radius: 12px;
  padding: 7px 10px;
  transition-duration: 0.5s;
}
.navbar button:hover {
  background-color: #155dfc;
  color: white;
  border-color: transparent;
}

section.main .container-navigation {
  background-color: var(--main-color);
  border: 1px solid var(--border-color);
  width: 25%;
  height: 350px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section.main .container-navigation .navigation-head {
  margin-left: 30px;
}
section.main .container-navigation ul {
  justify-content: center;
  gap: 5px;
  margin: 20px 0px;
}
section.main .container-navigation ul li.nav-item {
  text-align: start;
  transition-duration: 0.2s;
  cursor: pointer;
}
section.main .container-navigation ul li.nav-item.active {
  background-color: rgb(207, 226, 255);
}
section.main .container-navigation ul li.nav-item.active a {
  color: blue;
  border-right: 3px solid blue;
}
section.main .container-navigation ul li.nav-item i {
  margin-left: 30px;
  margin-right: 30px;
  font-size: 20px;
}
section.main .container-navigation ul li.nav-item .nav-link {
  color: black;
}
section.main .container-navigation ul li.nav-item:hover {
  background-color: rgb(240, 240, 240);
}

section.main .container {
  width: 100%;
  margin-top: 40px;
  padding: 10px;
  display: flex;
  gap: 20px;
}
section.main .container .container-carousel {
  display: inline-block;
  width: 70%;
}
section.main .container .container-carousel .carousel-item {
  transition-duration: 0s;
  transition: none;
}

.container-carousel .overview .row {
  width: 100%;
  justify-content: center;
  gap: 5%;
}
.container-carousel .overview .row .col {
  width: 45%;
  height: 100px;
  background-color: var(--main-color);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}
.container-carousel .overview .row .col.bigger {
  height: 250px;
  padding: 10px;
  display: block;
}
.container-carousel .overview .row .col.bigger .container-text {
  display: block;
  margin: auto;
  width: 90%;
  margin-top: 10px;
}
.container-carousel .overview .row .col.bigger .container-con {
  width: 90%;
  margin: auto;
}
.container-carousel .overview .row .col.bigger .container-con .con {
  margin: 0;
  margin-top: 10px;
  width: 100%;
  height: 35px;
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition-duration: 0.5s;
}
.container-carousel .overview .row .col.bigger .container-con .con:hover {
  background-color: rgb(216, 216, 216);
}
.container-carousel .overview .row .col.bigger .container-con .con i {
  margin-left: 10px;
}
.container-carousel .overview .row .col.bigger .container-con .con p {
  margin: 0;
}
.container-carousel .overview .row .col .icon-1 {
  background-color: oklch(62.3% 0.214 259.815deg);
}
.container-carousel .overview .row .col .icon-2 {
  background-color: oklch(72.3% 0.219 149.579deg);
}
.container-carousel .overview .row .col .icon-3 {
  background-color: oklch(62.7% 0.265 303.9deg);
}
.container-carousel .overview .row .col .icon-4 {
  background-color: oklch(70.5% 0.213 47.604deg);
}
.container-carousel .overview .my-info {
  justify-content: space-between;
  width: 100%;
}
.container-carousel .overview .my-info .col {
  height: 20px;
  border: none;
  display: block;
}
.container-carousel .overview .my-info .col-2 {
  text-align: end;
}

.container-icon {
  width: 45px;
  height: 48px;
  font-size: 20px;
  color: white;
  background-color: #155dfc;
  padding: 10px;
  margin: 0px 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.course-catalog {
  width: 100%;
}
.course-catalog .row {
  width: 100%;
  margin: 0;
  gap: 20px;
}
.course-catalog .row .col {
  height: 250px;
  background-color: var(--main-color);
  border: 1px solid var(--border-color);
  border-radius: 10px;
}
.course-catalog .row .col.enrolled {
  border-color: oklch(72.3% 0.219 149.579deg);
}
.course-catalog .row .col .container-icons {
  display: flex;
  margin-top: 15px;
}
.course-catalog .row .col .container-icons .container-icon {
  width: initial;
  height: initial;
  font-size: 15px;
  padding: 5px;
  margin: 0px 10px;
}
.course-catalog .row .col .container-icons .container-icon.subject-code {
  background-color: black;
}
.course-catalog .row .col .container-icons .container-icon.level {
  background: white;
  color: black;
  border: 1px solid rgba(128, 128, 128, 0.2);
}
.course-catalog .row .col .container-icons .container-icon.enrolled {
  background-color: oklch(72.3% 0.219 149.579deg);
}
.course-catalog .row .col .container-icons .container-icon.not-enrolled {
  display: none;
}
.course-catalog .row .col .container-con {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: auto;
}
.course-catalog .row .col .container-con .con {
  display: flex;
  align-items: center;
}
.course-catalog .row .col .container-con .con .container-text p {
  margin: 0;
}
.course-catalog .row .col .container-con .con .container-text h6 {
  margin: 0;
}
.course-catalog .row .col .container-text {
  margin-top: 10px;
  margin-left: 10px;
}
.course-catalog .row .col .enrolled-btn {
  width: 100%;
  color: grey;
  font-weight: 600;
  background-color: white;
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px 0px;
  cursor: initial;
}
.course-catalog .row .col .not-enrolled-btn {
  width: 100%;
  color: white;
  font-weight: 600;
  background-color: black;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px 0px;
  transition-duration: 0.5s;
}
.course-catalog .row .col .not-enrolled-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.my-courses .row {
  justify-content: center;
}
.my-courses .row .col {
  width: 95%;
  background-color: var(--main-color);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 20px 0px;
}
.my-courses .row .col .container-icons {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-left: 10px;
}
.my-courses .row .col .container-icons .container-icon {
  width: initial;
  height: initial;
  box-sizing: initial;
  font-size: 15px;
  padding: 5px 7px;
  margin: 0px 10px;
}
.my-courses .row .col .container-icons .container-icon.subject-code {
  background-color: black;
  color: white;
}
.my-courses .row .col .container-icons .container-icon.grade {
  background-color: oklch(62.3% 0.214 259.815deg);
  color: white;
}
.my-courses .row .col .container-text {
  margin-top: 10px;
  margin-left: 20px;
}
.my-courses .row .col .container-course {
  margin: auto;
  margin-top: 10px;
  width: 95%;
  border-radius: 10px;
  padding: 15px;
}
.my-courses .row .col .container-course i {
  margin-right: 10px;
  font-size: 20px;
}
.my-courses .row .col .container-course.aq {
  background-color: rgba(21, 93, 251, 0.2);
}
.my-courses .row .col .container-course.aq i {
  color: rgb(21, 93, 251);
}
.my-courses .row .col .container-course.sa {
  background-color: rgba(0, 166, 62, 0.2);
}
.my-courses .row .col .container-course.sa i {
  color: rgb(0, 166, 62);
}

.timetable {
  width: 100%;
  background-color: var(--main-color);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 15px;
}
.timetable i {
  color: blue;
}
.timetable .container-schedule {
  width: 100%;
}
.timetable .container-schedule .row {
  width: 100%;
  margin: auto;
  gap: 10px;
  margin-top: 10px;
}
.timetable .container-schedule .row .col {
  width: 100px;
}
.timetable .container-schedule .row .col.clock {
  background-color: var(--main-color);
  border: none;
}
.timetable .container-schedule .row .col.day {
  border: none;
  text-align: center;
}
.timetable .container-schedule .row .col.canceled {
  opacity: 0;
}
.timetable .container-schedule .row .col[data-occupied=true] {
  height: 120px;
  background-color: rgb(207, 226, 255) !important;
  border: 2px solid blue;
  border-radius: 8px;
}
.timetable .container-schedule .row .col[data-occupied=true] .con {
  padding-left: 10px;
  padding-top: 10px;
}
.timetable .container-schedule .row .col[data-occupied=true] .con .container-icon {
  background-color: black;
  height: initial;
  padding: 1px 1px;
  margin: 0;
  font-size: 12px;
  border-radius: 5px;
}
.timetable .container-schedule .row .col[data-occupied=true] .con p {
  font-size: 12px;
}
.timetable .container-schedule .row .col[data-occupied=true] .con p .subject {
  color: black;
}
.timetable .container-schedule .row .col {
  height: 30px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 0;
}

.transcript .row {
  width: 100%;
  gap: 10px;
  justify-content: space-between;
  margin: auto;
}
.transcript .row .col {
  background-color: var(--main-color);
  border: 1px solid var(--border-color);
  width: 30%;
  border-radius: 10px;
  padding: 0;
  text-align: center;
}
.transcript .row .col span {
  color: black;
}
.transcript .container-table {
  padding: 10px;
  background-color: var(--main-color);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  margin-top: 20px;
}
.transcript .container-table i {
  color: #9810fa;
}
.transcript .container-table .table {
  border: none;
}
.transcript .container-table .table thead {
  border-bottom-color: var(--border-color);
}
.transcript .container-table .table .container-icon.code {
  height: initial;
  font-size: 12px;
  font-weight: 500;
  margin: 0;
  color: black;
  background-color: var(--main-color);
  border: 1px solid var(--border-color);
}
.transcript .container-table .table .container-icon.status {
  height: initial;
  padding: 5px 30px;
  margin: 0;
  font-size: 12px;
  font-weight: 500;
  background-color: oklch(62.3% 0.214 259.815deg);
}
.transcript .container-table .table tr {
  border-bottom-color: var(--border-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color:white;
  --border-color:rgba(128, 128, 128, 0.2);
}

img {
  width: 100%;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

p {
  color: grey;
}

/*# sourceMappingURL=style.css.map */
