.container-icon{
    width: 45px;
    height: 48px;
    font-size: 20px;
    color: white;
    background-color: #155dfc;
    padding: 10px;
    margin: 0px 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}