section.main{
    .container-navigation{
        background-color: white;
        border: 1px solid rgba(128, 128, 128, 0.2);
        width: 25%;
        height: 350px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .navigation-head{
            margin-left: 30px;
        }
        ul{
            justify-content: center;
            gap: 5px;
            margin: 20px 0px;
            li{
                &.nav-item{
                    text-align: start;
                    transition-duration: 0.2s;
                    cursor: pointer;
                    &.active{
                        background-color: rgb(207, 226, 255);
                        a{
                            color: blue;
                            border-right: 3px solid blue;
                        }
                    }
                    i{
                        margin-left: 30px;
                        margin-right: 30px;
                        font-size: 20px;
                    }
                    .nav-link{
                        color: black;
                    }
                    &:hover{
                        background-color: rgb(240, 240, 240);
                        
                    }
                }
            }
        }
    }
}