.container-carousel{
    .overview{
        .row{
            width: 100%;
            justify-content: center;
            gap: 5%;
            .col{
                width: 45%;
                height: 100px;
                background-color: white;
                border: 1px solid rgba(128, 128, 128, 0.2);
                border-radius: 10px;
                padding: 0;
                margin: 0;
                margin-top: 20px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0px 20px;
                &.bigger{
                    height: 250px;
                    padding: 10px;
                    display: block;
                    .container-text{
                        display: block;
                        margin: auto;
                        width: 90%;
                        margin-top: 10px;
                    }
                    .container-con{
                        width: 90%;
                        margin: auto;
                        .con{
                            margin: 0;
                            margin-top: 10px;
                            width: 100%;
                            height: 35px;
                            border: 1px solid rgba(128, 128, 128, 0.500);
                            border-radius: 10px;
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            cursor: pointer;
                            transition-duration: 0.5s;
                            &:hover{
                                background-color: rgb(216, 216, 216);
                            }
                            i{
                                margin-left: 10px;
                            }
                            p{
                                margin: 0;
                            }
                        }
                    }
                }
                .icon-1{
                    background-color: oklch(0.623 0.214 259.815);
                }
                .icon-2{
                    background-color: oklch(.723 .219 149.579);
                }
                .icon-3{
                    background-color: oklch(0.627 0.265 303.9);
                }
                .icon-4{
                    background-color: oklch(0.705 0.213 47.604);
                }
            }
        }
        .my-info{
            justify-content: space-between;
            width: 100%;
            .col{
                height: 20px;
                border: none;
                display: block;
            }
            .col-2{
                text-align: end;
            }
        }
    }
}