@use "./navbar.scss" as *;
@use "./navigation.scss" as *;
@use "./main.scss" as *;
@use "./overview.scss" as *;
@use "./icons.scss" as *;
@use "./course_catalog.scss" as *;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
}
body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
p{
    color: grey;
}