.transcript{
    .row{
        width: 100%;
        gap: 10px;
        justify-content: space-between;
        margin: auto;
        .col{
            background-color: var(--main-color);
            border: 1px solid var(--border-color);
            width: 30%;
            border-radius: 10px;
            padding: 0;
            text-align: center;
            span{
                color: black;
            }
        }
    }
    .container-table{
        padding: 10px;
        background-color: var(--main-color);
        border: 1px solid var(--border-color);
        border-radius: 10px;
        margin-top: 20px;
        i{
            color: #9810fa;
        }
        .table{
            border: none;
            thead{
                border-bottom-color:var(--border-color);
            }
            .container-icon{
                &.code{
                    height: initial;
                    font-size: 12px;
                    font-weight: 500;
                    margin: 0;
                    color: black;
                    background-color: var(--main-color);
                    border: 1px solid var(--border-color);
                }
                &.status{
                    height: initial;
                    padding: 5px 30px;
                    margin: 0;
                    font-size: 12px;
                    font-weight: 500;
                    background-color: oklch(.623 .214 259.815);
                }
            }
            tr{
                border-bottom-color:var(--border-color);
            }
        }
    }
}